.h-screen {
  height: 100vh;
}

.w-full {
  width: 100%;
}

.overflow {
  &-scroll {
    overflow: scroll;
  }
  &-y-scroll {
    overflow-y: scroll;
  }
}

.text {
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
}
