@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,500&display=swap');
@import './spacings/index';
@import './positions/index';
@import './base/index';
@import './animations/index';

.VuePagination__pagination {
  display: flex !important;
  list-style-type: none;
  align-items: center;
  column-gap: 4px;
  padding: 0;

  &-item {
    color: #4f4f4f;
    font-weight: 400;

    & button {
      cursor: pointer;
      background: transparent;
      border: none;

      &.active {
        color: yellowgreen;
        font-weight: 700;
      }
    }

    &-prev-page,
    &-next-page {
      width: 32px;
      height: 32px;
      background: #ebebeb;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-prev-chunk,
    &-next-chunk {
      display: none;
    }
  }
}

.VuePagination__count {
  display: none;
}
